tensorflowjs==0.8.6
tensorflow==2.6.4
scipy==1.1.0
Flask_Login==0.4.1
scikit_image==0.15.0
dill==0.2.8.2
numpy==1.16.4
Flask_Bootstrap==3.3.7.1
scipy==1.1.0
Flask_WTF==0.14.2
lark_parser==0.6.5
SQLAlchemy==1.2.14
Flask_SQLAlchemy==2.3.2
Werkzeug==0.14.1
matplotlib==2.2.2
Flask_Uploads==0.2.1
Flask==1.0.2
psutil==5.4.6
lime==0.1.1.31
WTForms==2.2.1
opencv_python>=3.4.0.12,<4
pandas==0.23.4
Keras==2.2.4
Pillow==5.4.1
mock==2.0.0
pytest==4.1.1
reader==0.4
scikit_learn==0.21.2
typing==3.6.6
gputil==1.4.0
pandas-profiling==1.4.1
psycopg2-binary==2.8.2
thinc==7.0.4
spacy==2.1.4
absl-py==0.7.1

