
img {
    width: 22vh;
}

.inputDnD .form-control-file {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 6em;
    outline: none;
    visibility: hidden;
    cursor: pointer;
    background-color: #c61c23;
    box-shadow: 0 0 3px solid currentColor;
    font-size: 1.48vh;
    font-weight: 300 !important;
}

.inputDnD .form-control-file:before {
    content: attr(data-title);
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 13.5em;
    line-height: 10em;
    padding-top: 1.5em;
    visibility: visible;
    text-align: center;
    border: 0.15em dashed currentColor;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    height: 100%;
}

.inputDnD .form-control-file:hover:before {
    border-style: solid;
    box-shadow: inset 0px 0px 0px 0.15em currentColor;
    background-blend-mode: overlay !important;

}

.inputDnD:hover {
    background-blend-mode: overlay !important;

}

#image_upload {
    width: auto;
    padding: 0px;
    height: 30vh;
}

.inputDnD {
    background-repeat: round;
    background-size: 100%;
    height: 30vh;
    background-color: hsla(0, 0%, 100%, 0.70);
    background-blend-mode: initial;

}

.modebar {
    background-color: transparent !important;
    color: grey;
}

.table-pred td {
    text-align: center;
}

.table-pred th {
    border: 0;
}

.explain-parameters {
    text-align: center;
}

.explain-parameters input {
    margin-left: 15px;
}

#table_features th {
    border: 0;
}

.align-content-right {
    text-align: right;
}

.align-content-left {
    text-align: left;
}

.align-content-left input {
    margin-bottom: 10px;
    width: 80px;
}

.align-content-left select {
    width: 80px;
    margin-left: 13px;
}

.explain-graphs {
    text-align: -webkit-center;
    overflow: scroll;
}

.pre-scrollable {
    max-height: 60vh !important;
}

.upload-file .label-title {
    font-weight: 800;
    font-size: 12px;
}

#table_test_files {
    width: 100% !important;;
}