.gallery-container {
    overflow: hidden;
}

.gallery-img {
    width: 100%;
}

.gallery-sidebar {
    position: relative;
    max-height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.gallery-thumbnail {
    width: 90%;
    height: 25%;
    max-height: 90px;
}

.row > label {
    margin-left: 20px;
    font-size: 12px;
}