/*.btn-primary{*/
/*background-color: #607D8B !important;*/
/*border: 0px !important;*/
/*}*/

.navbar-brand > img {
    max-height: 112%;
    height: 112%;
    width: auto;
    margin: 0 auto;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}

body {
    padding-top: 70px;
    padding-bottom: 20px;
    margin: 50px;
}

#bottom-left {
    /*left: 12px;*/
    /*bottom: 16px;*/
    /*position: absolute;*/
    left: -70px;
    bottom: -16px;
    position: relative;
}

.navbar {
    margin-bottom: 20px;
}

#slider .rs-handle {
    background-color: transparent;
    border: 8px solid transparent;
    border-right-color: black;
    margin: -6px 0px 0px 14px !important;
    border-width: 6px 104px 6px 4px;
}

#slider .rs-handle:before {
    display: block;
    content: " ";
    position: absolute;
    height: 22px;
    width: 22px;
    background: black;
    right: -11px;
    bottom: -11px;
    border-radius: 100px;
}

#slider .rs-tooltip {
    top: 75%;
    font-size: 11px;
}

#slider .rs-tooltip div {
    text-align: center;
    background: orange;
    color: white;
    border-radius: 4px;
    padding: 1px 5px 2px;
    margin-top: 4px;
}

#slider .rs-range-color {
    /*background-color: #DB5959;*/
    background-color: #337ab7;
}

#slider .rs-path-color {
    /*background-color: #F0C5C5;*/
    /*background-color: #4cb7ff;*/
    background-color: #46a9fe;
}

#slider-div {
    margin: 0 auto;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*#slider .rs-handle  {*/
/*background-color: transparent;*/
/*border: 8px solid transparent;*/
/*border-right-color: black;*/
/*margin: -8px 0 0 14px !important;*/
/*}*/
/*#slider .rs-handle:before  {*/
/*display: block;*/
/*content: " ";*/
/*position: absolute;*/
/*height: 12px;*/
/*width: 12px;*/
/*background: black;*/
/*right: -6px;*/
/*bottom: -6px;*/
/*border-radius: 100%;*/
/*}*/
/*#slider .rs-handle:after  {*/
/*display: block;*/
/*content: " ";*/
/*width: 106px;*/
/*position: absolute;*/
/*top: -1px;*/
/*right: 0px;*/
/*border-top: 2px dotted black;*/
/*}*/
/*#slider .rs-range-color  {*/
/*background-color: #8832cd;*/
/*}*/
/*#slider .rs-path-color  {*/
/*background-color: #ddc5f0;*/
/*}*/

.btn-arrow-right,
.btn-arrow-left {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
    outline: none !important;
    box-shadow: none;
}

.btn-arrow-right {
    padding-left: 36px;
}

.btn-arrow-left {
    padding-right: 36px;
}

.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after { /* make two squares (before and after), looking similar to the button */
    content: "";
    position: absolute;
    top: 5px; /* move it down because of rounded corners */
    width: 22px; /* same as height */
    height: 22px; /* button_outer_height / sqrt(2) */
    background: inherit; /* use parent background */
    border: inherit; /* use parent border */
    border-left-color: transparent; /* hide left border */
    border-bottom-color: transparent; /* hide bottom border */
    border-radius: 0px 4px 0px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
}

.btn-arrow-right:before,
.btn-arrow-right:after {
    transform: rotate(45deg); /* rotate right arrow squares 45 deg to point right */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.btn-arrow-left:before,
.btn-arrow-left:after {
    transform: rotate(225deg); /* rotate left arrow squares 225 deg to point left */
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}

.btn-arrow-right:before,
.btn-arrow-left:before { /* align the "before" square to the left */
    left: -11px;
}

.btn-arrow-right:after,
.btn-arrow-left:after { /* align the "after" square to the right */
    right: -11px;
}

.btn-arrow-right:after,
.btn-arrow-left:before { /* bring arrow pointers to front */
    z-index: 1;
}

.btn-arrow-right:before,
.btn-arrow-left:after { /* hide arrow tails background */
    background-color: white;
}

.panel-body {
    margin: 20px;
!important;
}

th1 {
    font-size: 1.875em; /* 30px/16=1.875em */
    color: #4e555b;
}

table.formatHTML5 tr.selected {
    background-color: #d4e9e6 !important;
    color: #fff;
    vertical-align: middle;
    padding: 1.5em;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);
body {
    background: #f9f9f9;
    font-family: sans-serif, 'Open Sans';
}

.h3 {
    text-align: left !important;
}

h1 {
    text-transform: uppercase;
    color: #34495e;
    letter-spacing: 2px;
    font-size: 2em;
    margin-bottom: 0;
}

.headline {
    display: block;
    color: #2c3e50;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 0px;
    border-radius: 6px;
    height: 57vh;
    overflow: scroll;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout + .bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color: #777;
}

.bs-callout-default h4 {
    color: #777;
    font-size: 21px;
}

.bs-callout-primary {
    border-left-color: #70291d;
    background-color: #f7f7f7;
    height: 50vh;
}

.bs-callout-primary h4 {
    color: #70291d;
    font-size: 18px;
}

.bs-callout-pprimary {
    border-left-color: #70291d;
    background-color: #f7f7f7;
    height: 100% !important;
}

.bs-callout-pprimary h4 {
    color: #444444;
    font-size: 18px;
}

.bs-callout-profile {
    border-left-color: #70291d;
    background-color: #ffffff;
    height: 100% !important;
}

.bs-callout-success {
    border-left-color: #225c60;
    background-color: #f7f7f7;
    height: 22vh;

}

.bs-callout-success h4 {
    color: #225c60;
    font-size: 18px;

}

.bs-callout-sucess h3 {
    color: #225c60;
    font-size: 18px;
}

.bs-callout-explain {
    border-left-color: #225c60;
    background-color: #f7f7f7;
    margin: 0px !important;
    height: 50vh;

}

.bs-callout-explain h4 {
    color: #225c60;
    font-size: 18px;

}

.bs-callout-explain h3 {
    color: #225c60;
    font-size: 18px;
}

.bs-callout-info {
    border-left-color: #2f4e7f;
    background-color: #f7f7f7;
    height: 50vh;
}

.bs-callout-info h4 {
    color: #2f4e7f;
    font-size: 18px;
}

.bs-callout-chk {
    border-left-color: #2f4e7f;
    background-color: #f7f7f7;
    height: 50vh;
}

.bs-callout-chk h4 {
    color: #2f4e7f;
    font-size: 18px;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
    font-size: 21px;
}

.bs-callout-warning {
    border-left-color: #fffdfa00;
    background-color: #354b61d4;
}

.bs-callout-warning h1 {
    color: #f0ad4e;
    font-size: 21px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);
body {
    background: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

.play {
    display: block;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 24px solid #2c3e50;
    border-right: 1px solid #ffff;
    margin: 40px auto 20px auto;
    position: relative;
    z-index: 1;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    left: 4px;
}

.play:before {
    content: '';
    position: absolute;
    top: -30px;
    left: -46px;
    bottom: -30px;
    right: -14px;
    border-radius: 50%;
    border: 4px solid #2c3e50;
    z-index: 2;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

.play:after {
    content: '';
    opacity: 0;
    transition: opacity 0.6s;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
}

.play.active:after {
    content: '';
    opacity: 1;
    width: 27px;
    height: 32px;
    background: #2c3e50;
    position: absolute;
    right: 10px;
    top: -16px;
    border-left: 8px solid #2c3e50;
    box-shadow: inset 12px 0 0 0 #f9f9f9;
}

.play:hover:before, .play:focus:before {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.play.active {
    border-color: transparent;
}

h1 {
    text-transform: uppercase;
    color: #34495e;
    letter-spacing: 2px;
    font-size: 2em;
    margin-bottom: 0;
}

.headline {
    display: block;
    color: #2c3e50;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

.social {
    text-decoration: none;
    color: #34495e;
    margin: 0.5em 1.5em;
    display: inline-block;
}

.social:hover, .social:focus {
    color: #2c3e50;
}

h1 {
    text-transform: uppercase;
    color: #34495e;
    letter-spacing: 2px;
    font-size: 2em;
    margin-bottom: 0;
}

th2 {
    text-transform: uppercase;
    color: #ffff;
    letter-spacing: 2px;
    font-size: 1.5em;
    margin-bottom: 0;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center !important;
}

.log {
    display: none;
    text-align: left;
    word-break: normal;
    white-space: pre-wrap;
    height: 200px;
    overflow: scroll;
    background-color: #2b2b2b;
    color: #ecf5f0;
    font-weight: lighter;
    margin-bottom: 1vh;

}

.btn:focus, .btn:active btn-details {
    outline: none !important;
    box-shadow: none;
    text-decoration: none !important;
}

/*the container must be positioned relative:*/

.select-selected {
    background-color: #13255d;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #13255d;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.row {
    margin-left: 90px;
}

#options-is_existing_row {
    margin-top: 4vh;
}

#generate_dataset .row {
    margin-left: 0px;
}

.table-responsive .upload-table {
    max-width: 60%;
}

.upload-table .cell {
    display: table-cell;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset !important;
    padding-top: 19px;
    padding-bottom: 19px;

}

.upload-table .row.header {
    color: #ffffff;
    background: #13255d;
}

input[type="radio"] {
    /*display: block;*/
    /*margin-left: 5px;*/
    margin-right: 5px !important;
}

row .upload {
    margin-left: 0px !important;
}

tr:hover {
    background-color: rgba(163, 179, 185, 0.42);
}

tr:hover td {
    background-color: transparent; /* or #000 */
}

.invisible-radio {
    display: none;
}

.cat_features {
    width: inherit;
    max-width: 150px;
}

.pre-scrollable select {
    width: 180px !important;

    /*// margin-bottom: 200px! important;*/
}

.pre-scrollable {
    max-height: 24vh !important;
}

/*.pre-scrollable-explain {*/
/*max-width: 160px !important;*/
/*}*/

.pre-scrollable-explain input {
    max-width: 100px !important;
}

.test-file {
    padding: 0.2em;
    box-sizing: border-box;
    width: 100%
}

.range-slider {
    position: relative;
    height: 80px;
}

.extra-controls {
    position: relative;
    border-top: 3px solid #000;
    padding: 10px 0 0;
}

/** Custom Select **/

.custom-select {
    position: relative;
    display: inline-block;
    position: relative;
    display: block;
    /* max-width: 300px; */
    min-width: 15vh;
    margin: 0 auto;
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
}

.custom-select-wrapper select {
    display: none;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.custom-select-trigger {
    position: relative;
    display: block;
    width: 100%;
    padding: 0 40px 0 22px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    line-height: 40px;
    background: #5c9cd8;
    border-radius: 4px;
    cursor: pointer;
}

.custom-select-trigger-disabled {
    position: relative;
    display: block;
    width: 100%;
    padding: 0 40px 0 22px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    line-height: 40px;
    background: #749ec5;
    border-radius: 4px;
    cursor: pointer;
}

.custom-select-trigger:after {
    position: absolute;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    top: 50%;
    right: 25px;
    margin-top: -3px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg) translateY(-50%);
    transition: all .4s ease-in-out;
    transform-origin: 50% 0;
}

.custom-select.opened .custom-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    min-width: 100%;
    margin: 10px 0;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .07);
    background: #fff;
    transition: all .4s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
    z-index: 99;
}

.custom-option {
    position: relative;
    display: block;
    padding: 0 15px;
    border-bottom: 1px solid #b5b5b5;
    font-size: 15px;
    font-weight: 600;
    color: #606060;
    line-height: 47px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
}

.custom-options:before {
    position: absolute;
    display: block;
    content: '';
    bottom: 100%;
    right: 25px;
    width: 7px;
    height: 7px;
    margin-bottom: -4px;
    border-top: 1px solid #b5b5b5;
    border-left: 1px solid #b5b5b5;
    background: #fff;
    transform: rotate(45deg);
    transition: all .4s ease-in-out;
}

.option-hover:before {
    background: #f9f9f9;
}

.custom-option:first-of-type {
    border-radius: 4px 4px 0 0;
}

.custom-option:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 4px 4px;
}

.custom-option:hover,
.custom-option.selection {
    background: #b0bed9;
}

.pre-trained {
    background: #dddddd;
    color: #b1b1b1 !important;
}

.btn-next {
    float: right;
}

.btn-left {
    float: left;
    margin-left: 1vh;
}

.button-play {
    width: 72px;
    height: 72px;
    cursor: pointer;
    display: block;
}

.right_buttons {
    height: 66px;
    align-items: center;
    display: flex;
}

.right_buttons a {
    font-size: 16px;
    color: #9f9f9f;
    align-items: center;
    display: block;
}

#run_form {
    width: 73px;
    height: 73px;
}

#top-controls button {
    padding: 0;
    border: none;
    background: none;

}

#top-controls button:focus, button:active {
    outline: none !important;
    box-shadow: none;
}

.l--page {
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #eee;
    border-left-width: 0px;
    border-radius: 6px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    background: whitesmoke;
    overflow-x: scroll;
}

.l--page .row {
    margin: 0 !important;
}

#top-controls .timeline-controls {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 20%;
}

#top-controls .control {
    flex-grow: 1;
    max-width: 180px;
    min-width: 110px;
    margin-left: 30px;
    margin-top: 6px;
    /*margin-right: 80%;*/
}

#top-controls .control .label,
#top-controls .control label {
    color: #777;
    font-size: 13px;
    display: block;
    margin-bottom: 6px;
    font-weight: 300;
    text-align: left;
}

#top-controls .control .value {
    font-size: 16px;
    margin: 0;
    font-weight: 300;
}

.top-row {
    width: 100%;
    overflow: hidden;
}

.fa-undo-alt {
    font-size: 25px;
    color: #9f9f9f;
    margin-right: 5px;
    cursor: pointer;
}

.fa-undo-alt:hover {
    color: #b0bed9;

}

.fa-desktop:hover {
    color: #b0bed9;

}

.tensorb:hover {
    color: #b0bed9;

}

.tensorb:focus {
    color: #b0bed9;

}

.fa-chart-area:hover {
    color: #b0bed9;
}

.circle:hover {
    fill: #b0bed9;
    stroke: #b0bed9;

}

.label-tb {
    font-size: 18px;
    color: #9f9f9f;
    margin-right: 55px;
}

.label-log {
    font-size: 18px;
    color: #9f9f9f;
    margin-right: 2px;
}

#table_features th {
    font-weight: bold;
    text-align: center !important;
    margin: 3px;
    padding: 2.5px;
}

#table_features select {
    width: 8vh !important;
}

#table_features input {
    font-weight: normal !important;
    width: 16vh !important;
}

.container-run .row {
    margin-left: 0 !important;
}

.error {
    color: red;
}

a.disabled {
    pointer-events: none;
}

.modal {
    z-index: 9999 !important;
}

.popper-div {
    z-index: 9995 !important;
}

#create_model {
    margin-top: 3vh;
}

#parameters_title {
    margin-bottom: 5vh;
}

.glyphicon-trash {
    color: #ff0000;
}

/*.dataTables_length{*/
/*float:right!important;*/

/*}*/

input[type=search] {
    -webkit-appearance: textfield !important;
}

/*.prettyprint{*/
/*display: block;*/
/*padding: 9.5px;*/
/*margin: 0 0 10px;*/
/*font-size: 13px;*/
/*line-height: 1.42857143;*/
/*color: #333;*/
/*word-break: break-all;*/
/*word-wrap: break-word;*/
/*background-color: #f5f5f5;*/
/*border: 1px solid #ccc;*/
/*border-radius: 4px;*/
/*font-family: Menlo,Monaco,Consolas,"Courier New",monospace;*/
/*overflow: auto;*/
/*white-space: pre;*/
/*}*/

img {
    width: 22vh;
}

.inputDnD .form-control-file {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 6em;
    outline: none;
    visibility: hidden;
    cursor: pointer;
    background-color: #c61c23;
    box-shadow: 0 0 5px solid currentColor;
    font-size: 1.48vh;
}

.inputDnD .form-control-file:before {
    content: attr(data-title);
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 13.5em;
    line-height: 10em;
    padding-top: 1.5em;
    visibility: visible;
    text-align: center;
    border: 0.2em dashed currentColor;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}

.inputDnD .form-control-file:hover:before {
    border-style: solid;
    box-shadow: inset 0px 0px 0px 0.25em currentColor;
    background-blend-mode: overlay !important;

}

.inputDnD:hover {
    background-blend-mode: overlay !important;

}

#image_upload {
    width: auto;
    padding: 0px;
    height: 20vh;
}

.inputDnD {
    background-repeat: round;
    background-size: 100%;
    height: 20vh;
    background-color: hsla(0, 0%, 100%, 0.70);
    background-blend-mode: initial;
}

.modebar {
    background-color: transparent !important;
    color: grey;
}

/*!**/
/*DEMO STYLE*/
/**!*/

/*@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";*/
/*body {*/
/*font-family: 'Poppins', sans-serif;*/
/*background: #fafafa;*/
/*}*/

/*p {*/
/*font-family: 'Poppins', sans-serif;*/
/*font-size: 1.1em;*/
/*font-weight: 300;*/
/*line-height: 1.7em;*/
/*color: #999;*/
/*}*/

/*a,*/
/*a:hover,*/
/*a:focus {*/
/*color: inherit;*/
/*text-decoration: none;*/
/*transition: all 0.3s;*/
/*}*/

/*.navbar {*/
/*padding: 15px 10px;*/
/*background: #fff;*/
/*border: none;*/
/*border-radius: 0;*/
/*margin-bottom: 40px;*/
/*box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);*/
/*}*/

/*.navbar-btn {*/
/*box-shadow: none;*/
/*outline: none !important;*/
/*border: none;*/
/*}*/

/*.line {*/
/*width: 100%;*/
/*height: 1px;*/
/*border-bottom: 1px dashed #ddd;*/
/*margin: 40px 0;*/
/*}*/

/*i,*/
/*span {*/
/*display: inline-block;*/
/*}*/

/*!* ---------------------------------------------------*/
/*SIDEBAR STYLE*/
/*----------------------------------------------------- *!*/

/*.wrapper {*/
/*display: flex;*/
/*align-items: stretch;*/
/*}*/

/*#sidebar {*/
/*min-width: 250px;*/
/*max-width: 250px;*/
/*background: #496a7f;*/
/*color: #fff;*/
/*transition: all 0.3s;*/
/*}*/

/*#sidebar.active {*/
/*min-width: 80px;*/
/*max-width: 80px;*/
/*text-align: center;*/
/*}*/

/*#sidebar.active .sidebar-header h3,*/
/*#sidebar.active .CTAs {*/
/*display: none;*/
/*}*/

/*#sidebar.active .sidebar-header strong {*/
/*display: block;*/
/*}*/

/*#sidebar ul li a {*/
/*text-align: left;*/
/*}*/

/*#sidebar.active ul li a {*/
/*padding: 20px 10px;*/
/*text-align: center;*/
/*font-size: 0.85em;*/
/*}*/

/*#sidebar.active ul li a i {*/
/*margin-right: 0;*/
/*display: block;*/
/*font-size: 1.8em;*/
/*margin-bottom: 5px;*/
/*}*/

/*#sidebar.active ul ul a {*/
/*padding: 10px !important;*/
/*}*/

/*#sidebar.active .dropdown-toggle::after {*/
/*top: auto;*/
/*bottom: 10px;*/
/*right: 50%;*/
/*-webkit-transform: translateX(50%);*/
/*-ms-transform: translateX(50%);*/
/*transform: translateX(50%);*/
/*}*/

/*#sidebar .sidebar-header {*/
/*padding: 20px;*/
/*background: #496a7f;*/
/*}*/

/*#sidebar .sidebar-header strong {*/
/*display: none;*/
/*font-size: 1.8em;*/
/*}*/

/*#sidebar ul.components {*/
/*padding: 20px 0;*/
/*border-bottom: 1px solid #47748b;*/
/*}*/

/*#sidebar ul li a {*/
/*padding: 10px;*/
/*font-size: 1.1em;*/
/*display: block;*/
/*}*/

/*#sidebar ul li a:hover {*/
/*color: #496a7f;*/
/*background: #fff;*/
/*}*/

/*#sidebar ul li a i {*/
/*margin-right: 10px;*/
/*}*/

/*#sidebar ul li.active>a,*/
/*a[aria-expanded="true"] {*/
/*color: #fff;*/
/*background: #496a7f;*/
/*}*/

/*a[data-toggle="collapse"] {*/
/*position: relative;*/
/*}*/

/*.dropdown-toggle::after {*/
/*display: block;*/
/*position: absolute;*/
/*top: 50%;*/
/*right: 20px;*/
/*transform: translateY(-50%);*/
/*}*/

/*ul ul a {*/
/*font-size: 0.9em !important;*/
/*padding-left: 30px !important;*/
/*background: #496a7f;*/
/*}*/

/*ul.CTAs {*/
/*padding: 20px;*/
/*}*/

/*ul.CTAs a {*/
/*text-align: center;*/
/*font-size: 0.9em !important;*/
/*display: block;*/
/*border-radius: 5px;*/
/*margin-bottom: 5px;*/
/*}*/

/*a.download {*/
/*background: #fff;*/
/*color: #496a7f;*/
/*}*/

/*a.article,*/
/*a.article:hover {*/
/*background: #496a7f !important;*/
/*color: #fff !important;*/
/*}*/

/*!* ---------------------------------------------------*/
/*CONTENT STYLE*/
/*----------------------------------------------------- *!*/

/*#content {*/
/*width: 100%;*/
/*padding: 20px;*/
/*min-height: 100vh;*/
/*transition: all 0.3s;*/
/*}*/

/*!* ---------------------------------------------------*/
/*MEDIAQUERIES*/
/*----------------------------------------------------- *!*/

/*@media (max-width: 768px) {*/
/*#sidebar {*/
/*min-width: 80px;*/
/*max-width: 80px;*/
/*text-align: center;*/
/*margin-left: -80px !important;*/
/*}*/
/*.dropdown-toggle::after {*/
/*top: auto;*/
/*bottom: 10px;*/
/*right: 50%;*/
/*-webkit-transform: translateX(50%);*/
/*-ms-transform: translateX(50%);*/
/*transform: translateX(50%);*/
/*}*/
/*#sidebar.active {*/
/*margin-left: 0 !important;*/
/*}*/
/*#sidebar .sidebar-header h3,*/
/*#sidebar .CTAs {*/
/*display: none;*/
/*}*/
/*#sidebar .sidebar-header strong {*/
/*display: block;*/
/*}*/
/*#sidebar ul li a {*/
/*padding: 20px 10px;*/
/*}*/
/*#sidebar ul li a span {*/
/*font-size: 0.85em;*/
/*}*/
/*#sidebar ul li a i {*/
/*margin-right: 0;*/
/*display: block;*/
/*}*/
/*#sidebar ul ul a {*/
/*padding: 10px !important;*/
/*}*/
/*#sidebar ul li a i {*/
/*font-size: 1.3em;*/
/*}*/
/*#sidebar {*/
/*margin-left: 0;*/
/*}*/
/*#sidebarCollapse span {*/
/*display: none;*/
/*}*/
/*}*/