{% extends "base_tf3.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ion.rangeSlider.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ion.rangeSlider.skinFlat.css') }}">

{% endblock %}


{% block app_content %}

    <div align="center">
        <th1>Select the train/val/test split ratio</th1>

        <br><br><br><br>

        <div class="row" id="slider-div">
            <div class="range-slider">
                <label for="range1" title="Training Dataset: The sample of data used to fit the model.">Train</label>
                <input type="text" id="range1" class="js-range-slider-1" value="70"/>
            </div>
            <br>
            <div class="range-slider">
                <label for="range3"
                       title="Validation Dataset: The sample of data used to provide an unbiased evaluation of a model fit on the training dataset.">Validation</label>
                <input type="text" id="range2" class="js-range-slider-2" value="30"/>
            </div>
            <br>
            <div class="range-slider">
                <label for="range3"
                       title="Test Dataset: The sample of data used to provide an unbiased evaluation of a final model fit on the training dataset.">Test</label>
                <input type="text" id="range3" class="js-range-slider-3" value="0"/>
            </div>
            <br>
            <div class="extra-controls js-result">
            </div>
            <br>
        </div>

        {{ wtf.quick_form(form, button_map={'submit': 'primary btn-next'}) }}

    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='ion.rangeSlider.js') }}"></script>
    <script src="{{ url_for('.static', filename='slider.js') }}"></script>

{% endblock %}