{% macro render_single_field(field) %}
    <div class="form-group">
        <label for="{{ field.name }}" class="control-label">{{ field.label.text }}</label>
        <div class="col-lg-3">
            {{ field(class_='form-control', **kwargs)|safe }}
            <ul>
                {% for error in field.errors %}
                    <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
{% endmacro %}


{% macro render_single_field_no_label(field) %}
   {{ field( **kwargs)|safe }}
{% endmacro %}




{% macro render_checkbox(field) %}
    <div class="form-group">
        <label for="{{ field.name }}" class="control-label">{{ field.label.text }}</label>
        {{ field(class_='form-control', **kwargs)|safe }}
        <ul>
            {% for error in field.errors %}
                <li style="color:red;">{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="clearfix"></div>
{% endmacro %}


{% macro render_field_two_col(field) %}
    <div id="{{ field.name }}">
        {% set vars = {'count': 0} %} {# A bit strange, but this is how you change variable value inside loop #}
        {%- for subfield in field %}
            {% if not bootstrap_is_hidden_field(subfield) %}
                {% if loop.index0 is divisibleby 2 %}
                    <div class="form-row" id="{{ subfield.name }}_row">
                {% endif %}
            <div class="form-group col-md-6">
                <label for="{{ subfield.name }}" class="control-label" data-toggle="tooltip"
                       title="{{ subfield.description }}">{{ subfield.label.text }}</label>
                {{ subfield(class_='form-control', **kwargs)|safe }}
                <ul>
                    {% for error in subfield.errors %}
                        <li style="color:red;">{{ error }}</li>
                    {% endfor %}
                </ul>

            </div>
            {% if loop.index0 is not divisibleby 2 %}
                </div>
            {% endif %}
            {% else %}
            {% endif %}
            {% if vars.update({'count': loop.length}) %} {% endif %}
        {%- endfor %}
        {% if vars.count is divisibleby 2 %} {# one extra is for csrf, hence even #}
            <div class="clearfix"></div>
            </div>
        {% endif %}
    {{ field.hidden_tag() }}
    </div>
{% endmacro %}

{% macro render_field_two_col_labels(field) %}
    <div id="{{ field.name }}">
        <div id="{{ field.name }}_title">
            <h4><label> {{ field.label.text }} </label></h4>
        </div>
        {% set vars = {'count': 0} %} {# A bit strange, but this is how you change variable value inside loop #}

        {%- for subfield in field %}
            {% if not bootstrap_is_hidden_field(subfield) %}
                {% if loop.index0 is divisibleby 2 %}
                    <div class="form-row" id="{{ subfield.name }}_row">
                {% endif %}
            <div class="form-group col-md-6">
                <label for="{{ subfield.name }}" class="control-label" data-toggle="tooltip"
                       title="{{ subfield.description }}">{{ subfield.label.text }}</label>
                {{ subfield(class_='form-control', **kwargs)|safe }}
                <ul>
                    {% for error in subfield.errors %}
                        <li style="color:red;">{{ error }}</li>
                    {% endfor %}
                </ul>

            </div>
            {% if loop.index0 is not divisibleby 2 %}
                </div>
            {% endif %}
            {% else %}
            {% endif %}
            {% if vars.update({'count': loop.length}) %} {% endif %}
        {%- endfor %}
        {% if vars.count is divisibleby 2 %} {# one extra is for csrf, hence even #}
            <div class="clearfix"></div>
            </div>
        {% endif %}
    {{ field.hidden_tag() }}
    </div>
{% endmacro %}


{% macro render_radio_fields(field) %}
    <div class="form-group">
        <label class="col-lg-2 control-label">{{ field.label.text }}</label>
        <div class="col-lg-10">
            {% for subfield in field %}
                <div class="radio">
                    <label>
                        {{ subfield.label.text }} {{ subfield }}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro render_field(field) %}
    {#    <h4><label> {{ field.label.text }} </label></h4>#}
    {%- for subfield in field %}
        {% if not bootstrap_is_hidden_field(subfield) %}
            <div class="form-row">
                <label for="{{ subfield.name }}" class="control-label"
                       title="{{ subfield.description }}">{{ subfield.label.text }}</label>
                {{ subfield(class_='control', **kwargs)|safe }}
                <ul>
                    {% for error in subfield.errors %}
                        <li style="color:red;">{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {%- endfor %}

    {{ field.hidden_tag() }}
{% endmacro %}

{% macro render_gener_field(field) %}
    {#    <h4><label> {{ field.label.text }} </label></h4>#}
    {%- for subfield in field %}
        {% if not bootstrap_is_hidden_field(subfield) %}
            <label for="{{ subfield.name }}" class="control-label"
                   title="{{ subfield.description }}"><b>{{ subfield.label.text }}</b></label>
            {{ subfield(class_='form-control', **kwargs)|safe }}

            <ul>
                {% for error in subfield.errors %}
                    <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {%- endfor %}
    {{ field.hidden_tag() }}
{% endmacro %}


{% macro render_generate_field(field) %}
    {#    <h4><label> {{ field.label.text }} </label></h4>#}
    {%- for subfield in field %}
        {% if not bootstrap_is_hidden_field(subfield) %}
            <label for="{{ subfield.name }}" class="control-label"
                   title="{{ subfield.description }}"><b>{{ subfield.label.text }}</b></label>
            {{ subfield(class_='form-control', **kwargs)|safe }}
            {% if 'script' == subfield.name   %}
                 <small class="text-muted" id="script_help"> You can expand this text area by dragging the bottom right corner.</small>
            {% endif %}
            <ul>
                {% for error in subfield.errors %}
                    <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {%- endfor %}
    {{ field.hidden_tag() }}
{% endmacro %}


{% macro render_option_field(field) %}

    {%- for subfield in field %}
        {% if not bootstrap_is_hidden_field(subfield) %}
            <label> <b>{{ subfield.label.text }} </b></label>
            <div class="custom-file">
                <label for="{{ subfield.name }}" class="custom-file-label"
                       title="{{ subfield.description }}">Choose file</label>
                {{ subfield(class_='custom-file-input', **kwargs)|safe }}
            </div>
            <ul>
                {% for error in subfield.errors %}
                    <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>

        {% endif %}
    {%- endfor %}
    {{ field.hidden_tag() }}
    <div>
        <div class="progress invisible" style="width:97%;height:5px">
            <div id="progressBar_{{ field.name }}" class="progress-bar invisible" style="width:0%;height:5px"></div>
        </div>

        <button style="width:1%;" id="abort_{{ field.name }}" type="button" class="btn btn-light abort invisible"
                aria-label="Close"
                onclick="ajax.abort()"><span class="icon"><i class="fi flaticon-multiply"></i></span>
        </button>
    </div>


    <h6 id="status_{{ field.name }}"></h6>
    <h6 class="rem-08" id="loaded_n_total_{{ field.name }}"></h6>
    <div id="status_{{ field.name }}"></div>
{% endmacro %}



