<!DOCTYPE html>
<html>

<head>

    <title>Easy AI - Machine2Learn</title>
    {% block styles %}

        <link href="{{ url_for('.static', filename='base/css/application.css') }}" rel="stylesheet">
        <link href="{{ url_for('.static', filename='base/css/tables.css') }}" rel="stylesheet">
         <link href="{{ url_for('.static', filename='base/fonts/flaticon-2/flaticon.css') }}" rel="stylesheet">

        <link rel="shortcut icon" href="{{ url_for('.static', filename='base/img/logotext-brain.png') }}">
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Easy AI - AI for Dummies">
    <meta name="keywords" content="easy ai framework,machine learning,deep learning">
    <meta name="author" content="M2L">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
        chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
        https://code.google.com/p/chromium/issues/detail?id=332189
        */
    </script>
</head>

<body class="">
<!--
      Main sidebar seen on the left. may be static or collapsing depending on selected state.

        * Collapsing - navigation automatically collapse when mouse leaves it and expand when enters.
        * Static - stays always open.
    -->
<nav id="sidebar" class="sidebar" role="navigation">
    <!-- need this .js class to initiate slimscroll -->
    <div class="js-sidebar-content">
        <header class="logo d-none d-md-block">
            <!-- <a href="https://www.machine2learn.com/"><img src="img/logotext-horizontal.png"/></a> -->
            <a href="https://www.machine2learn.com/"><span class="text-warning"><img
                    src="{{ url_for('.static', filename='base/img/logotext-brain.png') }}"/></span>
                <img src="{{ url_for('.static', filename='base/img/logotextonly.png') }}"/></a>
        </header>
        <div class="sidebar-status d-md-none">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="thumb-sm avatar float-right">
                        <img class="rounded-circle" src="{{ url_for('.static', filename='base/img/avatar.png') }}"
                             alt="...">
                    </span>


                {{ user }}

            </a>
            <!-- #notifications-dropdown-menu goes here when screen collapsed to xs or sm -->
        </div>

        <!-- main notification links are placed inside of .sidebar-nav -->
        <ul class="sidebar-nav">
            <li class="" id="sb-dashboard">
                <!-- an example of nested submenu. basic bootstrap collapse component -->
                <a href="#" onclick="location.href='/dashboard'">
                        <span class="icon">
                            <i class="fi flaticon-home"></i>
                        </span>
                    Dashboard
                </a>
            </li>
        </ul>
        <!-- every .sidebar-nav may have a title -->
        <!-- <h5 class="sidebar-nav-title">Template <a class="action-link" href="#"><i class="glyphicon glyphicon-refresh"></i></a></h5> -->
        <ul class="sidebar-nav">
            <li class="" id="sb-datasets">
                <!-- an example of nested submenu. basic bootstrap collapse component -->

                <a class="collapsed" href="#sidebar-data" data-toggle="collapse" data-parent="#sidebar">
                        <span class="icon">
                            <i class="fi flaticon-database-3"></i>
                        </span>
                    Datasets
                    <i class="toggle fa fa-angle-down"></i>
                </a>
                <ul id="sidebar-data" class="collapse ">
                    <li id="upload_tabular" class=""><a href="#" onclick="location.href='/upload_tabular'">Tabular</a></li>
                    <li id="upload_image" class=""><a href="#" onclick="location.href='/upload_image'">Image</a></li>
                </ul>
            </li>
            <li class="" id="sb-gui_editor">
                <!-- an example of nested submenu. basic bootstrap collapse component -->
                <a href="#" onclick="location.href='/gui'">
                        <span class="icon">
                            <i class="fi flaticon-network"></i>
                        </span>
                    Models
                </a>
            </li>

            <li class="" id="sb-train">
                <a class="collapsed" href="#sidebar-train" data-toggle="collapse" data-parent="#sidebar">
                        <span class="icon">
                            <i class="fi flaticon-settings-train"></i>
                        </span>
                    Train
                    <i class="toggle fa fa-angle-down"></i>
                </a>
                <ul id="sidebar-train" class="collapse ">
                    <li id="li_run" class=""><a href="#" onclick="location.href='/run'">Run</a></li>
                    <li id="li_tb" class=""><a href="maps_google.html">TensorBoard</a></li>
                </ul>
            </li>
            <li class="">
                <!-- an example of nested submenu. basic bootstrap collapse component -->
                <a href="tables.html">
                        <span class="icon">
                            <i class="fi flaticon-prediction"></i>
                        </span>
                    Predict
                </a>
            </li>
            <li class="">
                <!-- an example of nested submenu. basic bootstrap collapse component -->
                <a href="tables.html">
                        <span class="icon">
                            <i class="fi flaticon-analysis-1"></i>
                        </span>
                    Explain
                </a>
            </li>
            <li class="">
                <!-- an example of nested submenu. basic bootstrap collapse component -->
                <a href="tables.html">
                        <span class="icon">
                            <i class="fi flaticon-exam"></i>
                        </span>
                    Test
                </a>
            </li>
            <li class="">
                <!-- an example of nested submenu. basic bootstrap collapse component -->
                <a href="tables.html">
                        <span class="icon">
                            <i class="fi flaticon-cloud-computing"></i>
                        </span>
                    Deployment
                </a>
            </li>
        </ul>

    </div>
</nav>
<!-- This is the white navigation bar seen on the top. A bit enhanced BS navbar. See .page-controls in _base.scss. -->
<nav class="page-controls navbar navbar-dashboard">

    <div class="container-fluid navbar-header ">
        <!-- .navbar-header contains links seen on xs & sm screens -->
        <div class="navbar-header mr-md-3">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <!-- whether to automatically collapse sidebar on mouseleave. If activated acts more like usual admin templates -->
                    <a class="d-none d-lg-block nav-link" id="nav-state-toggle" href="#">
                        <i class="la la-bars"></i>
                    </a>
                    <!-- shown on xs & sm screen. collapses and expands navigation -->
                    <a class="d-lg-none nav-link" id="nav-collapse-toggle" href="#">
                        <span class="square square-lg bg-gray text-white d-md-none"><i class="la la-bars"></i></span>
                        <i class="la la-bars d-none d-md-block"></i>
                    </a>
                </li>
            </ul>
            <!-- xs & sm screen logo -->
            <a class="navbar-brand d-md-none" href="dashboard.html">

                <img src="{{ url_for('.static', filename='base/img/logotext-brain.png') }}">

            </a>
        </div>

        <!-- this part is hidden for xs screens -->
        <!-- search form! link it to your search server -->
        <!-- <form class="navbar-form" role="search">
                <div class="form-group">
                    <div class="input-group input-group-no-border">
                        <input class="form-control" type="text" placeholder="Search Dashboard">
                        <span class="input-group-append">
                            <span class="input-group-text">
                                <i class="la la-search"></i>
                            </span>
                        </span>
                    </div>
                </div>
            </form> -->
        <ul class="nav navbar-nav float-right">
            <li class="dropdown nav-item navbar-header mobile-hidden">
                <a href="#" role="button" class="dropdown-toggle dropdown-toggle-notifications nav-link"
                   id="notifications-dropdown-toggle"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="thumb-sm avatar float-left">
                            <img class="rounded-circle" src="{{ url_for('.static', filename='base/img/avatar.png') }}"
                                 alt="...">
                        </span>
                    &nbsp;
                    {{ user }}

                </a>

            </li>
            <li class="dropdown nav-item navbar-header mobile-hidden">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <i class="la la-cog"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a class="dropdown-item" href="{{ url_for('user_data') }}"><i
                            class="glyphicon glyphicon-user"></i> &nbsp; My
                        Account</a></li>
                    <li class="dropdown-divider"></li>

                    <li><a class="dropdown-item" href="{{ url_for('logout') }}"><i class="la la-sign-out"></i> &nbsp;
                        Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="theme-helper">
    <section class="widget theme-helper-content">
        <header class="theme-helper-header d-flex p-0">
            <div class="theme-helper-toggler">
                <div class="theme-helper-spinner bg-warning text-white">
                    <i class="la la-cog"></i>
                    <i class="la la-cog fs-smaller"></i>
                </div>
            </div>
            <h6>TODO RUNNING</h6>
        </header>
        <div class="widget-body mt-3">

        </div>
    </section>
</div>


<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-lg-* > .widget.  -->
    <main id="content" class="content" role="main">
        {% block content %}
        {% endblock %}

    </main>
</div>
<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
    <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>

{% block scripts %}
    <script src="{{ url_for('.static', filename='base/bower/jquery.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='base/bower/jquery.pjax.js') }}"></script>
    <script src="{{ url_for('.static', filename='base/bower/popper.js') }}"></script>
    <script src="{{ url_for('.static', filename='base/bower/bootstrap.js') }}"></script>
    <script src="{{ url_for('.static', filename='base/bower/jquery.slimscroll.js') }}"></script>
    <script src="{{ url_for('.static', filename='base/bower/widgster.js') }}"></script>
    <script src="{{ url_for('.static', filename='base/bower/hammer.js') }}"></script>
    <script src="{{ url_for('.static', filename='base/bower/jquery.hammer.js') }}"></script>
    <script src="{{ url_for('.static', filename='base/settings.js') }}"></script>
    <script src="{{ url_for('.static', filename='base/app.js') }}"></script>
    <script src="{{ url_for('.static', filename='base_tf3.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var token = {{ token | tojson | safe}};
            token_session(token);
        });
    </script>
{% endblock %}

</body>

</html>