{% extends "base_tf3.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.css"/>
{% endblock %}

{% block app_content %}
    <style type="text/css">
        pre.prettyprint {
            border: 1px solid #ccc;
            margin-bottom: 0;
            padding: 9.5px;
        }

        .ind-p {
            text-indent: 30px;
        }
    </style>
    <div align="center">
        <th1> Deployment </th1>
    </div>
    <br>

    {{ checkpoints.to_html(classes="table table-striped display", table_id="deploy", index=False) | safe }}
    <div class="hidden" id="ddiv">
        <br>
        <h5><b>RESTful API with Tensorflow Serving</b></h5>
        <pre class="prettyprint">POST http://host:port/&lt;URI&gt;:&lt;VERB&gt;<br><br>URI: /v1/models/${MODEL_NAME}[/versions/${MODEL_VERSION}]<br>VERB: predict</pre>
        <br>
        <h5><b>Request format</b></h5>
        <pre class="prettyprint">{<br><p class="ind-p">"signature_name": "predict",</p><p class="ind-p">"instances": value|(nested)list|list-of-objects</p>}</pre>
        <br>
        <h5><b>Response format</b></h5>
        <pre class="prettyprint">{<br><p class="ind-p">"predictions": value|(nested)list|list-of-objects</p>}</pre>
        <br>
        <h5><b>Example request</b></h5>
        <pre class="prettyprint" id="req"></pre>
        <br>
        <h5><b>Example call and response</b></h5>
        <pre class="prettyprint" id="cresp"></pre>
        <br>

        {{ wtf.quick_form(form, id="depform", button_map={'submit': 'primary'}) }}
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.js"></script>
    <script src="//google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <script src="{{ url_for('.static', filename='deploy.js') }}"></script>
    <script type=text/javascript>
        var handle_key = {};
        handle_key.example = {{ example | tojson | safe }};
        window.appConfig = {
            handle_key: handle_key
        }
    </script>


{% endblock %}
