{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from '_render_field.html' import render_field_two_col_labels, render_single_field , render_field, render_gener_field %}
{% block styles %}
    {{ super() }}
    <link href="{{ url_for('.static', filename='base/css/tables.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename='css/run.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">
{% endblock %}

{% block content %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">YOU ARE HERE</li>
        <li class="breadcrumb-item"> Train</li>
        <li class="breadcrumb-item active">Run</li>
    </ol>

    <div class="row">
        <div class="col-lg-2">
            <section class="widget widget-overflow" id="run_config_div">
                <header>
                    <h6>
                        Run <span class="fw-semi-bold">Config</span>
                    </h6>
                </header>
                <div class="widget-body margin-top-15">
                    <form id="parameters_form">
                        <div id="models-select-div">
                            {#                            <h6 class="param-section"><span>Model</span></h6>#}
                        </div>
                        <h6 class="param-section"><span>Experiment</span></h6>
                        {{ render_gener_field(form.experiment) }}
                        <h6 class="param-section"><span>Training</span></h6>
                        {{ render_gener_field(form.training) }}
                    </form>
                </div>

            </section>

        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-lg-12">
                    <section class="widget disabled-custom" id="run_div" style="padding: 10px 20px;">
                        <div id="top-controls" class="l--page">

                            <div class="row">

                                <div class="timeline-controls icon-bar">
                                    <a data-id=all onclick="ConfirmDelete(this, true)">
                                        <i class="fas fa-undo-alt"></i>
                                    </a>

                                    <a id="run_button" name="run_button" onclick="button_play()">
                                        <svg id="play" class="button-play">
                                            <circle cx="36" cy="36" r="33"
                                                    style="fill:#0190af;stroke:#ddd"></circle>
                                            <polygon id="shape" points="28,21 51,36 28,51"
                                                     style="fill:#fcfcfc;">
                                                <animate id="animate_to_stop"
                                                         begin="indefinite"
                                                         fill="freeze"
                                                         attributeName="points"
                                                         dur="500ms"
                                                         to="23,23 48,23 48,48, 23,48"
                                                         keySplines="0.1 0.8 0.2 1; 0.1 0.8 0.2 1;0.1 0.8 0.2 1; 0.1 0.8 0.2 1; 0.1 0.8 0.2 1;0.1 0.8 0.2 1"
                                                         keyTimes="0;0.22;0.33;0.55;0.66;0.88;1"
                                                         calcMode="spline"></animate>

                                                <animate
                                                        id="animate_to_play"
                                                        begin="indefinite"
                                                        fill="freeze"
                                                        attributeName="points"
                                                        dur="500ms"
                                                        to="28,21 51,36 28,51"
                                                        keySplines="0.1 0.8 0.2 1; 0.1 0.8 0.2 1; 0.1 0.8 0.2 1; 0.1 0.8 0.2 1; 0.1 0.8 0.2 1;0.1 0.8 0.2 1"
                                                        keyTimes="0;0.22;0.33;0.55;0.66;0.88;1"
                                                        calcMode="spline"></animate>
                                            </polygon>
                                        </svg>
                                    </a>

                                    <div class="control">
                                        <span class="label">Epoch</span>
                                        <span class="value iter-number" id="iter-number">000,000</span>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </section>
                </div>
            </div>

            <div class="row disabled-custom" id="train_results">
                <div class="col-lg-4">
                    <section class="widget widget-overflow" id="checkpoints_div">
                        <header>
                            <h6>
                                <span class="fw-semi-bold">Checkpoints</span>
                            </h6>
                        </header>

                        <div class="table-responsive visualization hide-element">
                            <div class="navbar-form" role="search">
                                <div class="form-group">
                                    <div class="input-group input-group-no-border">
                                        <input id="checkpoint_search" class="form-control" type="text"
                                               placeholder="Search Checkpoint">
                                        <span class="input-group-append">
                                                    <span class="input-group-text">
                                                        <i class="la la-search"></i>
                                                    </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <table id="table_checkpoints" class="table table-hover table-striped"
                                   style="width:100%">
                            </table>
                        </div>

                        <div class="loader hide-element">Loading...</div>

                        <div class="waiting-selection">
                            Select a Model to display
                        </div>


                    </section>
                </div>
                <div class="col-lg-4">
                    <section class="widget widget-overflow" id="graph1_div">
                        <header>
                            <h6>
                                <span class="fw-semi-bold">Loss</span>
                            </h6>
                        </header>

                        <div class="loader loader-pretrain hide-element">Loading...</div>

                        <div class="waiting-selection">
                            Select a Model to display
                        </div>


                        <div class="widget-body">
                            <div class="visualization" id="loss_graph">
                            </div>
                        </div>

                    </section>

                </div>
                <div class="col-lg-4">
                    <section class="widget widget-overflow" id="graph2_div">
                        <header>
                            <h6>
                                <span class="fw-semi-bold" id="metric_span">Metric</span>
                            </h6>
                        </header>

                        <div class="loader loader-pretrain hide-element">Loading...</div>

                        <div class="waiting-selection">
                            Select a Model to display
                        </div>

                        <div class="widget-body">
                            <div class="visualization" id="metric_graph">
                            </div>
                        </div>
                    </section>

                </div>
            </div>


            <div class="row visualization disabled-custom" id="log_div">
                <div class="col-12">
                    <section class="widget widget-overflow">
                        <header>
                            <h6>
                                <span class="fw-semi-bold">Log</span>
                            </h6>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expand" href="#"><i
                                        class="glyphicon glyphicon-chevron-up"></i></a>
                                <a data-widgster="collapse" title="Collapse" href="#"><i
                                        class="glyphicon glyphicon-chevron-down"></i></a>
                                <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </header>
                        <div class="widget-body log-div">
                            <div class="log"></div>
                            <small class="text-muted" id="script_help" style=""> You can expand this text area by dragging the bottom right corner.</small>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>



{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.js"></script>
    <script src="{{ url_for('.static', filename='training.js') }}"></script>
    <script src="{{ url_for('.static', filename='checkpoints.js') }}"></script>
    <script src="{{ url_for('.static', filename='data_graphs.js') }}"></script>
    <script type=text/javascript>
        $(document).ready(function () {
            $('#sb-train').addClass('active');
            $('#li_run').addClass('active');
            $('#sidebar-train').addClass('show');
        });
    </script>

    <script type=text/javascript>
        var handle_key = {};
        handle_key.models = {{  user_models | tojson | safe }};
        handle_key.datasets = {{  dataset_params | tojson | safe }};
        handle_key.running = {{  running | tojson | safe }};
        handle_key.model_name = {{  model_name | tojson | safe }};
        handle_key.checkpoints = {{  checkpoints | tojson | safe }};
        handle_key.metric = {{  metric | tojson | safe }};
        handle_key.graphs = {{  graphs | tojson | safe }};
        window.appConfig = {
            handle_key: handle_key
        };
    </script>
{% endblock %}








































{#{% extends "base_tf3.html" %}#}
{#{% import 'bootstrap/wtf.html' as wtf %}#}
{#{% from '_render_field.html' import render_field_two_col, render_single_field %}#}
{##}
{#{% block styles %}#}
{#    {{ super() }}#}
{#    <link rel="stylesheet" type="text/css"#}
{#          href="https://cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.css"/>#}
{#    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"#}
{#          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">#}
{#    <link rel="stylesheet" href="{{ url_for('.static', filename='css/run.css') }}">#}
{#{% endblock %}#}
{##}
{#{% block app_content %}#}
{#    <meta http-equiv="refresh" content="60"/>#}
{#    <div class="bs-callout bs-callout-default">#}
{##}
{#    <div id="top-controls" class="l--page">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-sm-8">#}
{#                    <div class="timeline-controls icon-bar">#}
{#                        <a data-id=all onclick="ConfirmDelete(this, true)">#}
{#                            <i class="fas fa-undo-alt"></i>#}
{#                        </a>#}
{#                        <form id="run_form" method="post">#}
{#                            <a role="button" formmethod="post" id="run_button" name="run_button">#}
{#                                <svg id="play" class="button-play">#}
{#                                    <circle cx="36" cy="36" r="33" style="fill:#617586;stroke:#ddd"></circle>#}
{#                                    <polygon id="shape" points="28,21 51,36 28,51" style="fill:#fcfcfc;">#}
{#                                        <animate id="animate_to_stop"#}
{#                                                 begin="indefinite"#}
{#                                                 fill="freeze"#}
{#                                                 attributeName="points"#}
{#                                                 dur="500ms"#}
{#                                                 to="23,23 48,23 48,48, 23,48"#}
{#                                                 keySplines="0.1 0.8 0.2 1; 0.1 0.8 0.2 1;0.1 0.8 0.2 1; 0.1 0.8 0.2 1; 0.1 0.8 0.2 1;0.1 0.8 0.2 1"#}
{#                                                 keyTimes="0;0.22;0.33;0.55;0.66;0.88;1"#}
{#                                                 calcMode="spline"></animate>#}
{##}
{#                                        <animate#}
{#                                                id="animate_to_play"#}
{#                                                begin="indefinite"#}
{#                                                fill="freeze"#}
{#                                                attributeName="points"#}
{#                                                dur="500ms"#}
{#                                                to="28,21 51,36 28,51"#}
{#                                                keySplines="0.1 0.8 0.2 1; 0.1 0.8 0.2 1; 0.1 0.8 0.2 1; 0.1 0.8 0.2 1; 0.1 0.8 0.2 1;0.1 0.8 0.2 1"#}
{#                                                keyTimes="0;0.22;0.33;0.55;0.66;0.88;1"#}
{#                                                calcMode="spline"></animate>#}
{#                                    </polygon>#}
{#                                </svg>#}
{#                            </a>#}
{#                        </form>#}
{#                        <div class="control">#}
{#                            <span class="label">Epoch</span>#}
{#                            <span class="value" id="iter-number">000,000</span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-sm-1 right_buttons">#}
{#                    <a role="button" name="tensor" class="btn tensorb" onclick="hide_show()"><span#}
{#                            class="fas fa-desktop"></span> Log</a>#}
{#                </div>#}
{#                <div class="col-sm-2 offset-1 right_buttons">#}
{#                    <a role="button" name="tensor" class="btn  tensorb" target="_blank" href="/"#}
{#                       onclick="javascript:event.target.port={{ port }}"><span class="fas fa-chart-area "></span>#}
{#                        TensorBoard</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{##}
{##}
{##}
{#    <div class="bs-callout bs-callout-warning" align="center">#}
{#        <form action="/predict" method="post" id="predict_form">#}
{#            <div class="container container-run">#}
{#                <div class="row">#}
{#                    <div class="col-sm-4">#}
{#                        <div class="bs-callout bs-callout-chk">#}
{#                            <h4><span class="glyphicon glyphicon-tasks"></span></h4>#}
{#                            <h4> CHECKPOINTS</h4>#}
{#                            Select trained model#}
{#                            <br>#}
{#                            <div class="pre-scrollable">#}
{#                                <table id="checkp_table" class="display stripe" style="width:100%">#}
{#                                    <tfoot align="right">#}
{#                                    <tr>#}
{#                                        <td colspan="4">Clear all configs <a data-id=all#}
{#                                                                             onclick="ConfirmDelete(this, true)">#}
{#                                            <span class="glyphicon glyphicon-trash" style="color:#ff0000"></span></a>#}
{#                                        </td>#}
{#                                    </tr>#}
{#                                    </tfoot>#}
{#                                </table>#}
{#                            </div>#}
{#                            <div align="left">#}
{#                                <label class="checkbox-inline">#}
{#                                    <input type="checkbox" value="" id="resume_training" disabled> Resume training from#}
{#                                    selected model#}
{#                                </label>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-sm-4">#}
{##}
{#                        <div class="bs-callout bs-callout-primary feat-div pre-trained" id="col-features">#}
{#                            <div id="container-test">#}
{#                                <h4><span class="glyphicon glyphicon-pencil"></span></h4>#}
{#                                <h4>TEST </h4>#}
{#                                Test your model#}
{#                                <br><br>#}
{#                                <div id="upload-div">#}
{#                                    <table id="test_table" class="display stripe" style="width:100%">#}
{#                                    </table>#}
{#                                    <div class="file-upload">#}
{#                                        <label for="upload-file" class="upload-file__label"><i#}
{#                                                class="fas fa-file-upload"></i> Add file </label>#}
{#                                        <input accept=".csv" class="upload-file__input" type="file"#}
{#                                               id="upload-file" name="upload-file" onchange="upload_test_file(this)"#}
{#                                               disabled/>#}
{#                                    </div>#}
{#                                    <br>#}
{#                                    <br>#}
{#                                    <button type="button" id="test_button" class="btn btn-primary" disabled>#}
{#                                        TEST#}
{#                                    </button>#}
{#                                    <div id="loading_test" class="fa fa-spinner fa-spin hidden"></div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-sm-4">#}
{#                        <div class="bs-callout bs-callout-info pre-trained" id="col-predict">#}
{##}
{#                            <h4><span class="glyphicon glyphicon-ok"></span></h4>#}
{#                            <h4> PREDICT AND EXPLAIN</h4>#}
{#                            Get a prediction for your selected feature values#}
{#                            <br> <br>#}
{##}
{#                            <div id="feature-div">#}
{#                                <div class="container hidden" id="image_upload">#}
{#                                    <div class="form-group inputDnD">#}
{#                                        <label class="sr-only" for="inputFile">File Upload</label>#}
{#                                        <input type="file"#}
{#                                               class="form-control-file text-primary font-weight-bold"#}
{#                                               id="inputFile"#}
{#                                               name="inputFile"#}
{#                                               accept="image/*" onchange="readUrl(this)"#}
{#                                               data-title="Click or drag and drop a file">#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                                <div class="pre-scrollable">#}
{#                                    <table id="table_features" align="center">#}
{#                                    </table>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <h4><b>#}
{#                                <br>#}
{#                                <div id="predict_val"></div>#}
{#                            </b></h4>#}
{#                            <button type="button" id="predict_button" class="btn btn-primary" disabled>#}
{#                                PREDICT#}
{#                            </button>#}
{#                            <div id="loading_predict" class="fa fa-spinner fa-spin hidden"></div>#}
{#                            <br><br>#}
{#                            <div class="pre-scrollable-explain" id="explain_form">#}
{#                                <div class="row">#}
{#                                    <div class="col-sm-4">#}
{#                                        <label class="cust_label" for="top_labels">#}
{#                                            Top labels:#}
{#                                            <input type="number" name="top_labels" id="top_labels" value="1"#}
{#                                                   step="1"#}
{#                                                   min="1">#}
{#                                        </label>#}
{#                                    </div>#}
{#                                    <div class="col-sm-4">#}
{#                                        <label class="cust_label" for="num_feat">#}
{#                                            #Features:#}
{#                                            <input type="number" name="num_feat" id="num_feat" value="3" step="1"#}
{#                                                   min="2">#}
{#                                        </label>#}
{#                                    </div>#}
{##}
{#                                    <div class="col-sm-3">#}
{#                                        <div id="expdiv" class="block">#}
{#                                            <label id="exp_label" class="cust_label" for="exp_target">#}
{#                                                Target:#}
{#                                            </label>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <br>#}
{#                                <button type="button" id="explain_button" class="btn btn-primary" disabled>#}
{#                                    EXPLAIN#}
{#                                </button>#}
{#                                <div id="loading_explain" class="fa fa-spinner fa-spin hidden"></div>#}
{##}
{#                            </div>#}
{#                            <div id="error_exp" class="bottom-left"></div>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </form>#}
{#    </div>#}
{##}
{#    <div id="log" class="log"></div>#}
{#    <form id='deploy' action="/deploy" method="post">#}
{#        <input id='next_button' type="button" formmethod="post" onclick='submitDeployForm()'#}
{#               class="btn btn-primary btn-next" value="Next"/>#}
{#    </form>#}
{##}
{##}
{##}
{##}
{#{% endblock %}#}
{##}
{#{% block scripts %}#}
{#    {{ super() }}#}
{#    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.js"></script>#}
{#    <script type="text/javascript"#}
{#            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>#}
{#    <script type=text/javascript>#}
{#        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};#}
{#        let handle_key = {};#}
{#        handle_key = {{ params | tojson | safe }};#}
{#        handle_key.checkpoints = {{ checkpoints | tojson | safe }};#}
{#        window.appConfig = {#}
{#            handle_key: handle_key,#}
{#            hh: {{ hh | tojson | safe}},#}
{#            running: {{ running | tojson | safe}},#}
{#            metric: {{ metric | tojson | safe }},#}
{#        }#}
{#    </script>#}
{#    <script type="text/javascript" src="{{ url_for('.static', filename='run.js') }}"></script>#}
{#    <script type="text/javascript" src="{{ url_for('.static', filename='run_ajax.js') }}"></script>#}
{#{% endblock %}#}
