{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Sign up
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">YOU ARE HERE</li>
        <li class="breadcrumb-item active">Sign Up</li>
    </ol>
    <div class="row">
        <div class="col-lg-12">
            <section class="widget">
                <header>
                    <h5>
                        New <span class="fw-semi-bold">User</span>
                    </h5>
                </header>
                <div class="widget-body">
                    <form class="form-signin" method="POST" action="/signup">
                        {{ form.hidden_tag() }}
                        {% if error %}
                            <div class=error> {{ error }}</div>
                        {% endif %}
                        {{ wtf.form_field(form.username) }}
                        {{ wtf.form_field(form.email) }}
                        {{ wtf.form_field(form.password) }}
                        {{ wtf.form_field(form.password2) }}
                        {{ wtf.form_field(form.remember) }}
                        <button class="btn btn-primary btn-block" type="submit">Sign in</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
