{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('.static', filename='base/css/tables.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">YOU ARE HERE</li>
        <li class="breadcrumb-item active">My Account</li>
    </ol>
    <div class="row">
        <div class="col-lg-12">
            <section class="widget">
                <header>
                    <h5>
                        Your <span class="fw-semi-bold">Profile</span>
                    </h5>
                </header>
                <div class="widget-body">
                    <form class="form-signin" method="POST" action="/user_data">
                        {{ form.hidden_tag() }}
                        {{ wtf.form_field(form.username) }}
                        {{ wtf.form_field(form.email) }}
                        {{ wtf.form_field(form.send_mail) }}
                        <div class="clearfix">
                            <div class="float-right">
                                <button class="btn btn-primary btn-next" type="submit">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <section class="widget">
                <header>
                    <h5>
                        Your <span class="fw-semi-bold">Datasets</span>
                    </h5>
                </header>

                <div class="table-responsive">
                    <div class="navbar-form" role="search">
                        <div class="form-group">
                            <div class="input-group input-group-no-border">
                                <input id="data_search" class="form-control" type="text" placeholder="Search Dataset">
                                <span class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-search"></i>
                                        </span>
                            </span>
                            </div>
                        </div>
                    </div>
                    <table id="table_datasets" class="table table-hover table-striped" style="width:100%">
                        <tfoot align="right">
                        <tr>
                            <td colspan="3">Clear all <a data-id=all onclick="ConfirmDelete(this, true)">
                                <i class="fi flaticon-trash"></i></a>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </section>
        </div>
        <div class="col-lg-6">
            <section class="widget">
                <header>
                    <h5>
                        Your <span class="fw-semi-bold">Models</span>
                    </h5>
                </header>

                <div class="table-responsive">
                    <div class="navbar-form" role="search">
                        <div class="form-group">
                            <div class="input-group input-group-no-border">
                                <input id="model_search" class="form-control" type="text" placeholder="Search Model">
                                <span class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-search"></i>
                                        </span>
                            </span>
                            </div>
                        </div>
                    </div>
                    <table id="table_models" class="table table-hover table-striped" style="width:100%">
                        <tfoot align="right">
                        <tr>
                            <td colspan="5">Clear all <a data-id=all onclick="ConfirmModelDelete(this, true)">
                                <i class="fi flaticon-trash"></i></a>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </section>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.js"></script>
    <script src="{{ url_for('.static', filename='upload_user.js') }}"></script>
    <script type=text/javascript>
        var handle_key = {};
        handle_key.datasets = {{  datasets | tojson | safe }};
        handle_key.parameters = {{  parameters | tojson | safe }};
        window.appConfig = {
            handle_key: handle_key
        };
    </script>
{% endblock %}
