{% extends "base_tf3.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from '_render_field.html' import render_checkbox, render_option_field, render_field_two_col, render_single_field, render_field, render_gener_field %}


{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.css"/>
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/upload.css') }}">
{% endblock %}

{% block app_content %}

    <div id="result"></div>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
            {%- for msg in errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    {{ msg }}
                </div>
            {% endfor -%}
        {% endif %}
    {% endwith %}
    <div class="bs-callout bs-callout-pprimary" align="center">
        <div align="center" class="container" id="upload_title">
            <th1><i class="fas fa-database"></i> Data Upload</th1>
            <br><br>
            <form action="/upload" id="upload_form" method="post" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <div class="row">

                    <div class="col-lg-12 col-md-5 col-sm-8 col-xs-9 bhoechie-tab-container">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
                            <div class="list-group">
                                <a href="#" name="tabular_data" class="list-group-item active text-center">
                                    <h4 class="fas fa-table"></h4><br/>Tabular data
                                </a>
                                <a href="#" name="images" class="list-group-item text-center">
                                    <h4 class="fas fa-image"></h4><br/> Images
                                </a>
                                <a href="#" name="generate_data" class="list-group-item text-center">
                                    <h4 class="fas fa-chart-pie"></h4><br/> Generate data
                                </a>

                            </div>
                        </div>

                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">

                            <div class="bhoechie-tab-content active">
                                {{ render_option_field(form.new_tabular_files) }}
                            </div>

                            <div class="bhoechie-tab-content img-select">
                                {{ render_gener_field(form.selector) }}
                                <div id="option1">
                                    {{ render_option_field(form.option1) }}
                                </div>
                                <div id="option2" class="hidden">
                                    {{ render_option_field(form.option2) }}
                                </div>
                                <div id="option3" class="hidden">
                                    {{ render_option_field(form.option3) }}
                                </div>
                            </div>

                            <div class="bhoechie-tab-content">

                                <div class="row">
                                    <div id="error-confirm" style="color: red;"></div>
                                    {{ render_gener_field(form.generate_dataset) }}
                                    <p align="right">
                                        <button id='confirm' align="left" class="btn btn-primary"> Confirm</button>
                                        <button type="button" id='data_graphs_button' align="left"
                                                class="btn btn-primary">
                                            View
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <br><br>

                <input class="hidden" id="selected" name="selected"> </input>

                <button type="button" class="btn btn-primary btn-next" onclick="uploadFile();"
                        id="upload_form_button"><span
                        class="glyphicon glyphicon-save"></span> Save
                </button>

            </form>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
    <script src="{{ url_for('.static', filename='choose.js') }}"></script>
    <script src="{{ url_for('.static', filename='notify.js') }}"></script>

    <script type="text/javascript">
        var handle_key = {};
        handle_key.configs = {{  user_configs | tojson | safe }};
        handle_key.examples = {{  examples | tojson | safe }};
        window.appConfig = {
            handle_key: handle_key
        };
    </script>
    <script src="{{ url_for('.static', filename='upload.js') }}"></script>

{% endblock %}