{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from '_render_field.html' import render_checkbox, render_generate_field, render_option_field, render_field_two_col, render_single_field, render_field, render_gener_field %}
{% block styles %}
    {{ super() }}
    <link href="{{ url_for('.static', filename='base/css/tables.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="result"></div>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
            {%- for msg in errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    {{ msg }}
                </div>
            {% endfor -%}
        {% endif %}
    {% endwith %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">YOU ARE HERE</li>
        <li class="breadcrumb-item"> Datasets</li>
        <li class="breadcrumb-item active">Tabular</li>
    </ol>
    <div class="row">
        <div class="col-lg-5">
            <section class="widget min-height-300 widget-overflow">
                <form action="/upload_tabular" id="upload_form" method="post" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <header>
                        <h6>
                            Upload <span class="fw-semi-bold">Data</span>
                        </h6>
                    </header>
                    <div class="margin-top-15">
                        {{ render_option_field(form) }}
                    </div>
                    <div class="btn-next-parent">
                        <button type="button" class="btn btn-primary btn-next" onclick="uploadFile();"
                                id="upload_form_button" disabled><span
                                class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>

                </form>
            </section>
        </div>
        <div class="col-lg-7" id="generate_div">
            <section class="widget min-height-300 widget-overflow">
                <header>
                    <h6>
                        Generate <span class="fw-semi-bold">Data</span>
                    </h6>
                </header>
                <div class="margin-top-15">
                    {{ render_generate_field(gen_form) }}


                </div>
                <div class="btn-next-parent">
                    <small id="gen_error" class="text-danger">
                    </small>
                    <button type="button" class="btn btn-primary btn-next" onclick="generateFile();"
                            style="margin-top: 30px;"
                            id="generate_form_button" disabled><span
                            class="glyphicon glyphicon-save"></span> Save
                    </button>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <section class="widget widget-overflow">
                <header>
                    <h6>
                        Choose <span class="fw-semi-bold">Data</span>
                    </h6>
                </header>
                <div class="table-responsive">
                    <div class="navbar-form" role="search">
                        <div class="form-group" style="margin-bottom: 10px;">
                            <div class="input-group input-group-no-border">
                                <input id="dataset_search" class="form-control" type="text"
                                       placeholder="Search Dataset">
                                <span class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="la la-search"></i>
                                                </span>
                                            </span>
                            </div>
                        </div>
                    </div>
                    <table id="table_datasets" class="table table-hover table-striped "
                           style="width:100%">

                    </table>
                </div>
            </section>
        </div>
        <div class="col-lg-9">
            <section class="widget widget-overflow">
                <header>
                    <h6>
                        Raw <span class="fw-semi-bold">Data</span>
                    </h6>
                    <div class="widget-controls">
                        <a data-widgster="expand" title="Expand" href="#"><i
                                class="glyphicon glyphicon-chevron-up"></i></a>
                        <a data-widgster="collapse" title="Collapse" href="#"><i
                                class="glyphicon glyphicon-chevron-down"></i></a>
                        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </header>
                <div class="widget-body">
                    <div class="table-responsive visualization hide-element">
                        <div class="navbar-form" role="search">
                            <div class="form-group" style="margin-bottom: 10px;">
                                <div class="input-group input-group-no-border">
                                    <input id="raw_data_search" class="form-control" type="text"
                                           placeholder="Search Value">
                                    <span class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-search"></i>
                                    </span>
                                </span>
                                </div>
                            </div>
                        </div>
                        <table id="table_raw_data" class="table table-hover table-striped head-no-transform"
                               style="width:100%">

                        </table>
                    </div>
                    <div class="loader hide-element">Loading...</div>
                    <div class="waiting-selection">
                        Click on a Dataset to display
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <section class="widget">
                <header>
                    <h6>
                        Scatter <span class="fw-semi-bold">Plot</span>
                    </h6>
                    <div class="widget-controls">
                        <a data-widgster="expand" title="Expand" href="#"><i
                                class="glyphicon glyphicon-chevron-up"></i></a>
                        <a data-widgster="collapse" title="Collapse" href="#"><i
                                class="glyphicon glyphicon-chevron-down"></i></a>
                        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </header>
                <div class="widget-body">
                    <div id="scatter" class="visualization hide-element">
                        <div id='scatter-content'></div>
                        <div class="row">
                            <div id='scatter-select-div1' class="col-6"></div>
                            <div id='scatter-select-div2' class="col-6"></div>
                        </div>

                    </div>

                    <div class="loader hide-element">Loading...</div>
                    <div class="waiting-selection">
                        Click on a Dataset to display
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="widget">
                <header>
                    <h6>
                        Feature <span class="fw-semi-bold">Histogram</span>
                    </h6>
                    <div class="widget-controls">
                        <a data-widgster="expand" title="Expand" href="#"><i
                                class="glyphicon glyphicon-chevron-up"></i></a>
                        <a data-widgster="collapse" title="Collapse" href="#"><i
                                class="glyphicon glyphicon-chevron-down"></i></a>
                        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </header>
                <div class="widget-body">
                    <div class="visualization hide-element">
                        <div id='hist-content'></div>
                        <div id="hist-select" class="text-align-center"></div>
                    </div>
                    <div class="loader hide-element">Loading...</div>
                    <div class="waiting-selection">
                        Click on a Dataset to display
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="widget">
                <header>
                    <h6>
                        Heat <span class="fw-semi-bold">Map</span>
                    </h6>
                    <div class="widget-controls">
                        <a data-widgster="expand" title="Expand" href="#"><i
                                class="glyphicon glyphicon-chevron-up"></i></a>
                        <a data-widgster="collapse" title="Collapse" href="#"><i
                                class="glyphicon glyphicon-chevron-down"></i></a>
                        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </header>
                <div class="widget-body">
                    <div class="visualization hide-element" id="corr-mat">
                    </div>
                    <div class="loader hide-element">Loading...</div>
                    <div class="waiting-selection">
                        Click on a Dataset to display
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.js"></script>
    <script src="{{ url_for('.static', filename='upload_tabular.js') }}"></script>
    <script src="{{ url_for('.static', filename='generate.js') }}"></script>
    <script src="{{ url_for('.static', filename='visualize_tabular.js') }}"></script>
    <script src="{{ url_for('.static', filename='data_graphs.js') }}"></script>
    <script src="{{ url_for('.static', filename='notify.js') }}"></script>
    <script type=text/javascript>
        var handle_key = {};
        handle_key.datasets = {{  datasets | tojson | safe }};
        handle_key.data_types = {{  data_types | tojson | safe }};
        handle_key.examples = {{  examples | tojson | safe }};
        window.appConfig = {
            handle_key: handle_key
        };
    </script>
{% endblock %}

